body {
   
    height: 100%;
    font-family: Arial, sans-serif;
    background:url('https://images.pexels.com/photos/1474993/pexels-photo-1474993.jpeg') no-repeat center fixed;
    background-size: cover;

}
.nav-item > .nav-link{
    color:rgba(20, 77, 124, 0.664);
}
.nav-item > .nav-link:hover{
    transition: black 0.9s ease;
}

.container{
    margin-top: 15px;
    padding: 20px 10px;
   
   
    position: relative;
}
.colonne{
    padding:30px ,100px;
}
.row.align-items-center{
    padding: 25px 220px;
}

form{
    margin-top: 50px;
    align-items: center;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    background-color: inherit
}
form  > h1{
    color: white;
    justify-content: center;
    position: relative;
    text-align: center;
}

.form-group{
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    
}
select > .form-select{
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
}
.form-group > label{
    color: whitesmoke;
}
.form-group >small{
    color: white;
}