body {
   
    height: 100%;
    font-family: Arial, sans-serif;
    background:url('https://images.pexels.com/photos/13627288/pexels-photo-13627288.jpeg') no-repeat center fixed;
    background-size: cover;

}
.nav-item > .nav-link{
    color:rgba(20, 77, 124, 0.664);
}
.nav-item > .nav-link:hover{
    transition: black 0.9s ease;
}
.row.align-items-center{
    padding: 25px 250px;
    margin-top: 100px;
}

form{
    margin-top: 80px;
    align-items: center;
    padding: 35px 10px;
    
    position: relative;
    justify-content: center;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    background-color: inherit
}
form > h2{
    font:55px;
    color: white;
    justify-content: center;
    text-align: center;
}
.form-group{
    padding: 10px 115px;
    justify-content: center;
    align-items: center;
}
.form-group > label{
    color: grey;
}
select > .form-select{
    padding: 10px 115px;
    justify-content: center;
    align-items: center;
}
.col-md-12.position-relative{
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
}
.col-md-12.position-relative > label{
    color: grey;
}
form > p{
    color: whitesmoke;
    font-size: 19px;
}
form > p > a{
    text-decoration: none;
}

